<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库操作</title>
</head>
<H1 align="center">数据库系统测试登录</H1>
<style type="text/css">
    div{
        margin-top: 20px;
    }
</style>
<body>
<form action="/front/addlogin" name="loginfrom" accept-charset="utf-8" method="post">
    <div align="center">
        <label class="label-tips" for="u" style="font-size: 30px">账号:</label>
        <input type="text" id="u" name="username" class="inputstyle" style="width: 200px ;height: 30px"/>
    </div>
    <div align="center">
        <label class="lable-tips" for="password" style="font-size: 30px">密码:</label>
        <input type="password" id="password" name="password" class="inputstyle" style="width: 200px;height: 30px"/>
    </div>
    <div align="center">
        <input type="submit" name="登录" value="登录" style="width: 100px;font-size: 15px"/>
    </div>

    <!--<a href="register" class="zcxy" target="_blank">注册</a>-->
</form>
</body>
</html>